.default_container
  .body
    %h2 WORLD STRANGES
    .body_main
      = link_to "日本"
      = link_to "台湾"
      = link_to "中国地域"
      = link_to "東南アジア"
      = link_to "ロシア圏"
      = link_to "中東地域"
      = link_to "欧州"
      = link_to "アフリカ"
      = link_to "北米"
      = link_to "南米"
      = link_to "オーストラリア"
      = link_to "海洋上"
      = link_to "外宇宙"